/* REGOLE GENERALI*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* main */
main {
    position: relative; /* position relative perchè il div #boolzapp è in position absolute */
}

.background-up {
    width: 100%;
    height: 20vh;
    background-color: #009688;
}

.background-down {
    width: 100%;
    height: 80vh;
    background-color: #dbdbd4;
}

/* #boolzapp */
main #boolzapp {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Colonna sinistra */
.contacts {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d6d6d6;
    /* debug */
    background-color: #ffffff;
}

/* Colonna sinistra - myProfile */
.contacts .myProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    background-color: #eaeaea;
}

.contacts .myProfile .img-Profile {
    display: flex;
    align-items: center;
}

.contacts .myProfile .img-Profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.contacts .myProfile .myProfile-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contacts .myProfile .myProfile-options i {
    font-size: 15px;
    color: #b1b1b1;
    margin-left: 10px;
}

/* Colonna sinistra - notifiche */
.contacts .notifiche {
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.contacts .notifiche .icon-notifica {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2fbff;
    margin-right: 10px;
}

.contacts .notifiche .icon-notifica i {
    font-size: 20px;
    color: #8edafc;
}

.contacts .notifiche .text-notifica {
    text-decoration: underline;
    color: #6d7983;
    font-size: 12px;
}

/* Colonna sinistra - search-contact */
.contacts .search-contact {
    padding: 5px;
    background-color: #fafafa;
}

.contacts .search-contact div span {
    background-color: white;
    width: 50px;
    justify-content: center;
}

.contacts .search-contact div span i {
    color: #b1b1b1;
    font-size: 16px;
}

/* Colonna sinistra - all contacts */
.contacts .all-contacts {
    overflow-y: scroll;
    height: 100%;
}

.contacts .all-contacts .preview-contact {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    border-top: 1px solid #f5f5f5;
    justify-content: space-between;
}

.contacts .all-contacts .preview-contact {
    background-color: #e9ebeb;
}

.contacts .all-contacts .active {
    background-color: white;
}

.contacts .all-contacts .preview-contact .img-user {
    display: flex;
    align-items: flex-start;
}

.contacts .all-contacts .preview-contact .img-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.contacts .preview-contact .name-chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts .all-contacts .preview-contact .name-chat .message span {
    color: #b6b9bb;
    font-size: 13px;
}

/* Colonna destra */
.chat {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

/* Colonna destra - dati del contatto */
.chat .data-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 0px 10px;
}

.chat .data-contact div {
    display: flex;
    align-items: center;
}

.chat .data-contact div img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.chat .data-contact p {
    padding-top: 10px;
}

.chat .data-contact p span {
    font-size: 14px;
    color: #6d7274;
}

.chat .data-contact .contactOption {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chat .data-contact .contactOption i {
    font-size: 15px;
    color: #b1b1b1;
    margin-left: 10px;
}

/* Colonna destra - body contact */
.chat .body-chat {
    display: flex;
    flex-direction: column;
    padding: 20px 7%;
    overflow-y: scroll;
    background-color: #e5ddd5;
    height: 100%;
    row-gap: 10px;
    background-image: url('../img/sfondo.jpg');
}

.chat .body-chat .messageSent {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 36%;
    background-color: #d5f9ba;
    border-radius: 10px;
}

.chat .body-chat .messageReceived {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 36%;
    background-color: #ffffff;
    border-radius: 10px;
}

.chat .body-chat span {
    align-self: flex-start;
    font-size: 11px;
    color: #b6b9bb;
}

/* Colonna destra - input chat */
.chat .input-chat {
    padding: 10px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}

.chat .input-chat .emoticon {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.chat .input-chat .emoticon i {
    font-size: 20px;
    color: #6b7376;
}
